.help-page {

    .search-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 19rem;
        width: 100%;
        flex-direction: column;
        background: var(--color-light-blue);

        h1 {
            margin: 0 0 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
        }

        div {
            position: relative;

            input {
                height: 2.25rem;
                width: 21rem;
                padding: .5rem;
                outline: none;
            }

            i {
                position: absolute;
                right: .5rem;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
    }

    .cards-section {
        display: grid;
        grid-template-columns: repeat(2, minmax(10rem, 20rem));
        grid-column-gap: 2.5rem;
        grid-row-gap: 3rem;
        justify-content: center;
        margin: 6.5rem 0;
    }

    .selected-card-section {
        margin: 6.5rem auto;
        max-width: 42.5rem;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;

        h2, 
        p {
            margin-bottom: 1.5rem;
        }

        button {
            margin-top: .5rem;
            padding: .5rem 1rem;
            border: transparent;
            background-color: var(--color-light-blue);
            cursor: pointer;
        }
    }
}

@media (max-width: 600px) {
    .help-page {

        .search-section {

            input {
                width: 18rem;
            }
        }

        .cards-section,
        .selected-card-section {
            margin: 5.5rem .75rem;
        }

        .cards-section {
            grid-template-columns: minmax(5rem, 20rem);
        }
    }
}