.help-page {

    section {
        display: grid;
        grid-template-columns: repeat(2, minmax(10rem, 20rem));
        grid-column-gap: 2rem;
        grid-row-gap: 2.75rem;
        justify-content: center;
        margin: 5.5rem 0;
    }
}

@media (max-width: 600px) {
    .help-page {

        section {
            margin: 5.5rem .75rem;
            grid-template-columns: minmax(5rem, 20rem);
        }
    }
}